---
---

body {
	overflow-x: hidden;
	font-size: 13px;
}

pre,code {
	font-size: inherit;
	border: none;
}

blockquote {
	p, a {
		font-size: 12px;
	}
}

.site-header, .site-footer {z-index: 99999;}

.site-aside {
    position: absolute;
    left: calc(50vw + 410px);
    top: 80px;
    width: 25vw;
    overflow: hidden;
    padding: 1px 15px 40px;
    z-index: 9999;
    
	h4 {
        text-indent: 5px;
        height: 32px;
        line-height: 32px;
        position: relative;
        left: -15px;
        width: calc(100% + 30px);
	}
	ul,li {list-style: none;}
	ul {margin-left: 0}
	li{
        margin-left: 10px;
        height: 2em;
        line-height: 2em;
    }
}

.page-content {    
	padding: 18px 0;
}

.home {
	h2 {
		font-size: 16px;
		text-indent: 5px;
		height: 32px;
        line-height: 32px;
        border-bottom: {
            width: 1px;
            style: solid;
        }
	}
}

.post-list {
	a.post-link{ font-size: 16px; display: inline;}

	.post-excerpts {
		font-size: 12px;
		margin-bottom: 10px;
	}

	& >li {
        &:first-child {border-top: none}
        &:last-child {border-bottom: none}
		padding: 8px;
		border-width: 1px 0;
		border-style: solid;
		margin: 0;
	}
	
	.post-meta {float: right;}
}

.post {
	.post-meta {
		font-size: 13px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		height: 2em;
		line-height: 2em;
		border-bottom: {
            width: 1px;
            style: solid;
        }
		padding: 0px 10px;
	}

	.post-content {
		h4 {
			font: {
                size: 16px;
                weight: 600;
            }

			border-bottom: {
                width: 1px;
                style: solid;
            }
            margin-top: 2em;
            padding: 4px 0;
		}

		li {
			line-height: 2em;
		}
	}
}

.post-tags {
    display: flex;
	dt,dd {margin-right: 5px;}
	margin: 0;
}

.post-title {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: -1px;
    padding-top: 1em;
}

code.highlighter-rouge {
    border-radius: 1em;
    padding: 2px 5px;
    vertical-align: baseline;
    border: none;
}

.highlighter-rouge .highlight {
	border-radius: 5px;
	border:none;
}