<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%- seo -%}
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/style-override.css" | relative_url }}">
		{%- feed_meta -%}
	</head>			  

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
	</main>
	
	<aside class="site-aside">
		<h4>分类</h4>
		<ul>
			{%- for category in site.categories -%}
			<li>{{category[0]}}</li>
			{%- endfor -%}
		</ul>
	</aside>
    {%- include footer.html -%}

  </body>

</html>
